body { 
  padding-top: 20px; 
}
html{
  height:100%;
  width:100%;
}
.header {    
    background-color: #C9C9C9;
}
.header a.navbar-brand {
  color: #000000;
  font-weight: 700;
}
.header ul.navbar-nav li a {
  color: #000000;
  font-weight: 700;
  background-color: #AAADAD;
}
.header ul.navbar-nav li a:hover{
  background-color: #D7D9DE;
}
.pages{
    height: 855px;
    padding-top: 30px;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.first-page{
  background-image: url("https://dl.dropboxusercontent.com/u/59821810/portfolio/pic1.png"); 
  text-align:center;
}
.first-inner h1{
  color:#C9C9C9;
  font-weight: 700;
  text-shadow: 2px 1px 2px #000;
  font-size: 5em;
  padding-top: 70px;
}
.first-inner h3{
  color:#000;
  font-weight: 500;
  text-align:center;
  padding-top:30px;
  padding-bottom:20px;
  text-shadow: 1px 1px 1px #000;
}
hr{
  width:50%;
  border: 1px outset rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.btn{
  display: inline-block;
  background-color: #C9C9C9;
  color:#000;
  text-shadow: 1px 1px 1px #000;
}
@media(max-width:767px){
    
  .first-inner h1{
    font-size: 3em;
    
  }
  hr{
      width:100%;
    }
  .btn{
    display:block;
    margin-bottom: 10px;
  }
}
.second-page{
  background-image: url("https://dl.dropboxusercontent.com/u/59821810/portfolio/pic2.jpg"); 
  
}
.second-inner p{
  font-size: 18px;
  font-weight: bold;
}
.second-inner h3{
  font-size:30px;
  font-weight:bold;
  padding: 70px 0px 0px 0px;
  
}
.third-page{
  background: url("https://dl.dropboxusercontent.com/u/59821810/portfolio/pic3.jpg") no-repeat center center fixed;
  background-size:cover;
 
}
.third-inner h2{
  color:#C9C9C9;
  font-weight: bold;
  text-shadow: 2px 1px 2px #000;
  font-size: 40px;
  padding-top: 40px;
}
.third-inner h3{
  color:#C9C9C9;
  font-weight: bold;
}
.pro-items-container{
  margin-left: 40px;
}
.pro-items{
  max-width: 400px;
  margin:0 0 8px ;
  border: 1px outset;
}
@media(max-width:767px){
  .pro-items-container{
    margin-left:15px;
  }
}
.last-page{
  background: url("https://dl.dropboxusercontent.com/u/59821810/portfolio/pic4.jpg")no-repeat center center fixed;
  background-size:cover;
  height: 855px;
  padding-top: 30px;
}
.forth-inner h2{
  color:#C9C9C9;
  font-weight: bold;
  text-shadow: 2px 1px 2px #000;
  font-size: 30px;
  padding-top: 40px;
}
.forth-inner ul{
   //display: block;
   padding-top: 40px;
}
ul.forth-inner > li{
  display: block;
}
.footer{
   height:70px;
   background-color: #C9C9C9;
}
.footer-inner{
  padding: 25px 0 0 40px;
}

 